<link rel='import' href='../../lib/bower_components/iron-ajax/iron-ajax.html' />
<script src="../../core/ajax.js"></script>

<dom-module id="get-quotes">
       <style>
        paper-dialog app-toolbar {
            background-color: #0d47a1;
            color: #000;
        }
            
        .paper-dialog-0>*:first-child {
            margin-top: 0px;
        }

        image-mask {
            margin-top: 5px;
        }


        .card {
            background: #fff;
            border-radius: 2px;
            height: 280px;
            min-width: 200px;
            position: relative;
            width: 100%;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            margin: auto;
            vertical-align: middle;
            text-align: center;
            color: #37474f;
            font-family: 'Roboto','Noto', sans-serif;

            
        }

        .card:hover {
            box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .card-description {
            width: 90%;
            padding: 15px 15px 0 15px;
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            height: 20*1*9; /* Fallback for non-webkit */
            margin: auto;
            font-size: 20;
            line-height: 1;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
        }

        .card-author {
            text-align: center;
            height: 30px;
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            margin: auto;
            line-height: 1;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
            padding: 5px;
            color: #0d47a1;
        }
        .card-actions {
            position: absolute;
            text-align: left;
            bottom: 5px;
           
        }

        paper-icon-button.twitter {
            color: #00aced;
        }
        
        paper-icon-button.facebook {
            color: #3b5998;
        }
        .twitter {
            --paper-icon-button: {
                width: 40px;
                height: 40px;
            }

        }

        .facebook {
            --paper-icon-button: {
                width: 40px;
                height: 40px;              
            }
        }

        #listQuotes {
            margin: auto;
           vertical-align: middle;
        }
        #listQuotes li {
            display: flex;
            margin: 7px 7px;
            width: 31%;
            float: left;
            vertical-align: middle;

        }

        .card-author a {
            text-decoration: none;
            cursor: pointer;
        }

        .card-author a {
            text-decoration: none;
            cursor: pointer;
            color: #0d47a1;
        }

        .card-author a {
            text-decoration: none;
            cursor: pointer;
            color: #0d47a1;
        }

        .delete {
            float: right;
            color: tomato;
        }
    </style>
    <template>
        <ul id="listQuotes">
        <template is="dom-repeat" items="[[quotes]]">
           <li>
               <div class="card">
                <template is="dom-if" if="{{ isAdmin }}">
                   
                    <paper-icon-button icon="close" on-click="deleteQuote" class="delete"></paper-icon-button>
                </template>
                <div class="card-description">
                        {{item.description}}
                    </div>
                    <div class="card-author">
                        <a on-click="getQuotesAuthor">{{item.author}}</a>
                </div>

               <div class="card-actions">
                    <paper-icon-button icon="twitter" onclick="" class="twitter"></paper-icon-button>
                    <paper-icon-button icon="facebook" onclick="" class="facebook"></paper-icon-button>
                </div>
            </div>
            </li>
        </template>
        </ul>
    </template>

    <script>
        Polymer({
            is: 'get-quotes',
            properties: {
                quotes: {
                    type: Array
                },
                isAdmin: {
                    type: Boolean,
                    value: false
                }
            },
            ready: function () {
                fetch("http://172.17.67.179:3001/api/quote")
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse){
                    var quotesReverse = jsonResponse.quotes.reverse();
                    this.quotes=quotesReverse;
                }.bind(this))
            },
            attached: function () {
                document.addEventListener("refresh", function (evt) {
                   this.ready();
                }.bind(this))

                document.addEventListener("isAdmin", function (evt) {
                   this.isAdmin = evt.detail.isAdmin;
                }.bind(this))

                document.addEventListener("search", function (evt) {
                    
                    var searchBy = evt.detail.searchBy;  
                    
                }.bind(this))
            },
            getQuotesAuthor: function (e) {
                var author = e.model.item.author;

                fetch("http://172.17.67.179:3001/api/quote/author/"+author )
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse){
                    this.quotes=jsonResponse.quotes;
                }.bind(this))
            },
            deleteQuote: function (e) {

                var myInit = { method: 'DELETE',
                mode: 'cors',
                cache: 'default' };

                var quoteId = e.model.dataHost.dataHost.item._id;
                fetch("http://172.17.67.179:3001/api/quote/" + quoteId, myInit)
                .then(response =>
                    response.json().then(json => {
                        console.log(json);
                    this.ready();
                    return json;
                    })
                );
                
            }
        });
    </script>
</dom-module>