<link rel="import" href="../../lib/bower_components/polymer/polymer.html">
<link rel="import" href="../../lib/bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../lib/bower_components/image-mask/image-mask.html">
<link rel="import" href="../../lib/bower_components/paper-card/paper-card.html">
<link rel='import' href='../../lib/bower_components/paper-toolbar/paper-toolbar.html' />
<link rel="import" href="../../lib/bower_components/paper-item/all-imports.html">
<link rel="import" href="../../lib/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../lib/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../lib/bower_components/paper-button/paper-button.html">
<link rel='import' href='../../lib/bower_components/paper-input/paper-input.html' />
<link rel='import' href='../../lib/bower_components/paper-input/paper-textarea.html' />
<link rel='import' href='../../lib/bower_components/paper-dialog/paper-dialog.html' />
<link rel="import" href="../../lib/bower_components/paper-toast/paper-toast.html">
<link rel='import' href='../../lib/bower_components/app-layout/app-toolbar/app-toolbar.html'>
<link rel='import' href='../../lib/bower_components/paper-fab/paper-fab.html'>
<link rel='import' href='../../lib/bower_components/paper-tabs/paper-tabs.html' />
<link rel='import' href='../../lib/bower_components/paper-tabs/paper-tab.html' />
<link rel='import' href='../getQuotes/get-quotes.html'>
<script src="../../core/ajax.js"></script>
<link rel="stylesheet" href="styles.css">

<dom-module id="my-app">
    <style>
        paper-dialog app-toolbar {
            background-color: #0d47a1;
            color: #fff;
        }

        paper-dialog {
            padding: 0px;
        }
        
        .paper-dialog-0>*:first-child {
            margin-top: 0px;
        }

        image-mask {
            margin-top: 5px;
        }

        paper-card {
            --paper-card-header-image: {
                width: 450px;
            }
        }

        paper-card {
            --paper-card-header-text: {
                color: white;
                text-shadow: 2px 2px 2px #000000;
            }
            ;
        }

        paper-card {
            max-width: 450px;
            margin: 0px;
            color: #555555;
        }

        #getQuotes {
            width: 100%;
            height: 100%;
            margin-left: 15px;
            min-width: 400px;
        }

        paper-fab {
            position: fixed;
            right: 15px;
            bottom: 15px;
        }
        paper-fab.label {
            font-size: 20px;

        }

        paper-button.cancel {
            background-color: #e53935;
            color: white;
        }

        paper-button.add {
            background-color: #0d47a1;
            color: white;
        }

        #addQuoteDialog {
            width: 80%;
            
        }

        .buttons {
            margin-top: 12px;
            padding: 8px;
            align-content: center;
        }
        .search {
            width: 100%;
            background-color: #0d47a1;
            color: white;
        }

    </style>
    <template>
        <app-toolbar id="cabecera">
            <paper-icon-button icon="menu" onclick="drawer.toggle()"></paper-icon-button>
            <div main-title>Quotes App</div>
            <paper-icon-button icon="search" id="searchButton" on-click="searchQuoteDialog"></paper-icon-button>
        </app-toolbar>
        <sample-content size="10"></sample-content>
        <get-quotes id="getQuotes"></get-quotes>
        <paper-fab icon="add" title="Add" on-click="addQuoteDialog"></paper-fab>
        <app-drawer id="drawer" swipe-open>
            <app-toolbar id="cabecera">
                <div main-title>Quotes App</div>
            </app-toolbar>
            <paper-menu selected="0">
                <paper-item on-click="showHome">Start</paper-item>
                <paper-item on-click="showAbout">About</paper-item>
            </paper-menu>
        </app-drawer>
        <paper-dialog id='aboutDialog' modal>
            <app-toolbar>
                <div main-title>About Me</div>
                <paper-icon-button icon="close" on-click="closeAbout"></paper-icon-button>
            </app-toolbar>
            <div>
                <paper-card style="--paper-card-header-color: #fff" heading="Pablo Martin" image="../../../images/code.jpg"
                    alt="Pablo Martin">
                    <div class="card-content">
                        Esta app es una webapp desarrollada en Polymer creada simplemente para el aprendizaje de este framework y del aprendizaje de
                        TypeScript, NodeJs, MongoDB y Express.
                    </div>
                    <div class="card-actions">
                        <paper-icon-button icon="view-module" onclick=""></paper-icon-button>
                        <paper-icon-button icon="account-circle" onclick=""></paper-icon-button>
                    </div>
                </paper-card>
            </div>
        </paper-dialog>
        <paper-dialog id='addQuoteDialog' modal>
            <app-toolbar>
                <div main-title>New Quote</div>
                <paper-icon-button icon="close" on-click="closeQuoteDialog"></paper-icon-button>
            </app-toolbar>
            <paper-input label='Author' required char-counter maxlength="75" value='{{ quoteAuthor }}'>
            </paper-input>
            <paper-textarea id="quoteDescription" label='Quote' rows="3" required char-counter auto-size  maxlength="250" value='{{ quoteDescription }}' error-message="Quote Description can't be empty!">
            </paper-textarea>
            <paper-input label='Tags (Separated by commas)' char-counter maxlength="200" value='{{ quoteTags }}'>
            </paper-input>
            <div class='buttons'>
                <paper-button raised on-click='addQuote' class='add'>Add</paper-button>
                <paper-button raised on-click='closeQuoteDialog' class='cancel'>Cancel</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id='searchQuoteDialog' modal>
            <app-toolbar>
                <div main-title>Search Quote by...</div>
                <paper-icon-button icon="close" on-click="closeSearchDialog"></paper-icon-button>
            </app-toolbar>
            <paper-tabs selected="0">
                <paper-tab>Author</paper-tab>
                <paper-tab>Description</paper-tab>
                <paper-tab>Tag</paper-tab>
            </paper-tabs>
            <paper-textarea id="searchText" label='Search' rows="2" required char-counter auto-size  maxlength="100" value='{{ searchText }}' error-message="Search Text can't be empty!">
            </paper-textarea>
            <div class='buttons'>
                <paper-button raised on-click='search' class='search'>Search</paper-button>
            </div>
         </paper-dialog>
    </template>

    <script>
        Polymer({
            is: "my-app",
            showAbout: function () {
                this.$.aboutDialog.open();
                this.$.drawer.toggle();
            },
            closeAbout: function () {
                this.$.aboutDialog.close();
            },
            addQuoteDialog: function () {
                this.$.addQuoteDialog.open();
            },
            closeQuoteDialog: function () {
                this.$.addQuoteDialog.close();
                this.quoteAuthor = "";
                this.quoteDescription = "";
                this.quoteTags = "";
            },
            addQuote: function () {
                var author = this.quoteAuthor!=undefined?this.quoteAuthor.trim():undefined;
                var description = this.quoteDescription!=undefined?this.quoteDescription.trim():undefined;

                if(author==undefined && author!=""){
                    this.quoteAuthor = "Anonymous"
                }
                
                if(description!=undefined && description!=""){
                    var params = "author=" + this.quoteAuthor + "&description=" + this.quoteDescription +"&tags=" + this.quoteTags;
                    Ajax.call({
                        url: "http://172.17.67.179:3001/api/quote",
                        type: 'POST',
                        params: params,
                        success: function (response) {
                            var jsonResponse = JSON.parse(response);
                            if(jsonResponse.code==200){
                                console.error("Error on save...");
                            }
                           
                            this.fire("refresh", {});
                            this.closeQuoteDialog();

                        }.bind(this),
                        error: function (data) {
                            console.log("Error Ajax");
                        }
                    });
                } else {
                    this.quoteDescription = description;
                    this.$.quoteDescription.validate();
                }

            },
            showHome : function(){
                drawer.toggle()
                this.fire("refresh", {});
            },
            searchQuoteDialog: function () {
                this.$.searchQuoteDialog.open();
            },
            closeSearchDialog: function () {
                this.$.searchQuoteDialog.close();
                this.searchText = "";
            }


        });
    </script>
</dom-module>